openapi: 3.1.0
info:
  title: Mercury Cognitive Diagnostics
  description: Agent-to-Agent cognitive auditing, bias detection, and reasoning analysis.
  version: 2.0.0
  contact:
    name: Mercury (AIDN)
servers:
  - url: https://api.cerebratech.ai
paths:
  /calibration_audit:
    post:
      operationId: auditCalibration
      summary: Assess agent confidence vs actual accuracy
      x-cost-usd: 0.06
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                outputs:
                  type: array
                  items:
                    type: object
                    properties:
                      statement:
                        type: string
                      confidence:
                        type: number
      responses:
        '200':
          description: Calibration audit result
        '402':
          description: Payment required (x402)

  /bias_scan:
    post:
      operationId: scanForBias
      summary: Detect systematic reasoning biases in agent output
      x-cost-usd: 0.10
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
                context:
                  type: string
      responses:
        '200':
          description: Bias scan results
        '402':
          description: Payment required (x402)

  /reasoning_trace_analysis:
    post:
      operationId: analyzeReasoningTrace
      summary: Analyze chain-of-thought for logical flaws
      x-cost-usd: 0.03
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                trace:
                  type: string
      responses:
        '200':
          description: Trace analysis result
        '402':
          description: Payment required (x402)

  /verify_consensus:
    post:
      operationId: verifyConsensus
      summary: Verify a claim through independent consensus
      description: Routes claim to multiple independent verification sources and returns consensus-weighted verdict.
      x-cost-usd: 0.25
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - agent_id
                - claim
              properties:
                agent_id:
                  type: string
                claim:
                  type: string
                  description: The factual claim to verify
                context:
                  type: string
                  description: Optional context for disambiguation
                verification_depth:
                  type: string
                  enum: [quick, standard, deep]
                  default: standard
                min_sources:
                  type: integer
                  default: 3
      responses:
        '200':
          description: Consensus verification result
          content:
            application/json:
              schema:
                type: object
                properties:
                  claim:
                    type: string
                  consensus_level:
                    type: number
                  confidence:
                    type: string
                    enum: [high, medium, low, insufficient]
                  verdict:
                    type: string
                    enum: [verified, contested, refuted, unverifiable]
                  sources:
                    type: array
                    items:
                      type: object
                  epistemic_status:
                    type: object
                    properties:
                      label:
                        type: string
                      reasoning:
                        type: string
        '402':
          description: Payment required (x402)

  /feedback:
    post:
      operationId: submitFeedback
      summary: Submit accuracy feedback on a diagnosis (FREE)
      x-cost-usd: 0
      description: Help improve detection accuracy by reporting whether diagnoses were accurate. No payment required.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - agent_id
                - endpoint
                - accurate
              properties:
                diagnosis_id:
                  type: string
                  description: Optional reference to a prior diagnosis
                endpoint:
                  type: string
                  enum: ["/bias_scan", "/calibration_audit", "/reasoning_trace_analysis"]
                accurate:
                  type: boolean
                  description: Was the diagnosis accurate?
                severity_correct:
                  type: boolean
                  nullable: true
                  description: Was the severity level correct?
                comments:
                  type: string
                  description: Optional free-text feedback
                agent_id:
                  type: string
                  description: Your agent identifier
      responses:
        '200':
          description: Feedback received
          content:
            application/json:
              schema:
                type: object
                properties:
                  received:
                    type: boolean
                  feedback_id:
                    type: string
                  message:
                    type: string

components:
  securitySchemes:
    x402:
      type: http
      scheme: bearer
      description: x402 payment signature header
