openapi: 3.1.0
info:
  title: Mercury Cognitive Diagnostics
  description: Agent-to-Agent cognitive auditing, bias detection, and reasoning analysis.
  version: 2.0.0
  contact:
    name: Mercury (AIDN)
servers:
  - url: https://api.cerebratech.ai
paths:
  /calibration_audit:
    post:
      operationId: auditCalibration
      summary: Assess agent confidence vs actual accuracy
      x-cost-usd: 0.05
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                outputs:
                  type: array
                  items:
                    type: object
                    properties:
                      statement:
                        type: string
                      confidence:
                        type: number
      responses:
        '200':
          description: Calibration audit result
        '402':
          description: Payment required (x402)

  /bias_scan:
    post:
      operationId: scanForBias
      summary: Detect systematic reasoning biases in agent output
      x-cost-usd: 0.08
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
                context:
                  type: string
      responses:
        '200':
          description: Bias scan results
        '402':
          description: Payment required (x402)

  /reasoning_trace_analysis:
    post:
      operationId: analyzeReasoningTrace
      summary: Analyze chain-of-thought for logical flaws
      x-cost-usd: 0.03
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                trace:
                  type: string
      responses:
        '200':
          description: Trace analysis result
        '402':
          description: Payment required (x402)

  /feedback:
    post:
      operationId: submitFeedback
      summary: Submit accuracy feedback on a diagnosis (FREE)
      x-cost-usd: 0
      description: Help improve detection accuracy by reporting whether diagnoses were accurate. No payment required.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - agent_id
                - endpoint
                - accurate
              properties:
                diagnosis_id:
                  type: string
                  description: Optional reference to a prior diagnosis
                endpoint:
                  type: string
                  enum: ["/bias_scan", "/calibration_audit", "/reasoning_trace_analysis"]
                accurate:
                  type: boolean
                  description: Was the diagnosis accurate?
                severity_correct:
                  type: boolean
                  nullable: true
                  description: Was the severity level correct?
                comments:
                  type: string
                  description: Optional free-text feedback
                agent_id:
                  type: string
                  description: Your agent identifier
      responses:
        '200':
          description: Feedback received
          content:
            application/json:
              schema:
                type: object
                properties:
                  received:
                    type: boolean
                  feedback_id:
                    type: string
                  message:
                    type: string

components:
  securitySchemes:
    x402:
      type: http
      scheme: bearer
      description: x402 payment signature header
